In [7]:
# !pip install img2table

In [1]:
# %load_ext autotime

from IPython.display import display_html
from PIL import Image as PILImage
from openpyxl import load_workbook
from io import BytesIO
import cv2

In [2]:
from img2table.document import Image
from img2table.document import PDF

In [ ]:
‪C:\Program Files\Tesseract-OCR\tesseract.exe

In [8]:
import pytesseract

In [9]:
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'
# ‪C:\Program Files\Tesseract-OCR\tesseract.exe

In [8]:
# import os
# import pytesseract
# from img2table.ocr import TesseractOCR

# # Set the path to the Tesseract executable
# #pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'  # Adjust the path according to your system

# # Set the TESSDATA_PREFIX environment variable
# os.environ['TESSDATA_PREFIX'] = r'C:\Program Files\Tesseract-OCR\tessdata'  # Adjust the path according to your system

# # Initialize TesseractOCR
# tesseract_ocr = TesseractOCR(n_threads=1, lang="eng")

In [17]:
import os

# Set the TESSDATA_PREFIX environment variable to the correct path
os.environ['TESSDATA_PREFIX'] = r'C:\Program Files\Tesseract-OCR\tessdata'

In [9]:
# t=TesseractOCR()

In [53]:
# from img2table.ocr import TesseractOCR
# # import os

# # # Set environment variable for Tesseract
# # os.environ['TESSDATA_PREFIX'] = r'C:\Program Files\Tesseract-OCR'

# # Initialize TesseractOCR with explicit tessdata_dir
# from img2table.ocr import TesseractOCR
# tesseract_ocr = TesseractOCR(n_threads=1, lang="eng", tessdata_dir=r'C:\Program Files\Tesseract-OCR\tessdata\eng.traineddata')

# print("TesseractOCR initialized successfully.")

In [ ]:
!pip uninstall img2table
!pip install img2table

In [54]:
# from img2table.ocr import TesseractOCR

# # Initialize TesseractOCR with minimal configuration
# tesseract_ocr = TesseractOCR(
#     n_threads=1,
#     lang="eng",
#     tessdata_dir=r'C:\Program Files\Tesseract-OCR\tessdata'
# )

# print("TesseractOCR initialized successfully.")

In [3]:
# Tesseract OCR
from img2table.ocr import TesseractOCR

In [12]:
C:\Program Files\Tesseract-OCR\tessdata\eng.traineddata

Error initializing TesseractOCR: Tesseract 'eng' trainned data cannot be located

In [55]:
# tesseract_ocr = TesseractOCR(n_threads=1,) #lang="eng",

In [6]:
!apt install tesseract-ocr -y

'apt' is not recognized as an internal or external command,
operable program or batch file.

In [56]:
# pdf = PDF(src=r"E:\text_ext\SBI_life.pdf")

# # Extract tables
# extracted_tables = pdf.extract_tables(ocr=TesseractOCR,
#                                       implicit_rows=False,
#                                       borderless_tables=False,
#                                       min_confidence=50)

# extracted_tables


# pdf = PDF(src=r"E:\text_ext\SBI_life.pdf")

# # Export to file
# pdf.to_xlsx(r'E:\text_exttables.xlsx',
#             ocr=tesseract_ocr,
#             implicit_rows=False,
#             borderless_tables=False,
#             min_confidence=50)

In [9]:
!apt install tesseract-ocr -y # install tesseract
!pip install pytesseract # install the python wrapper for tesseract

'apt' is not recognized as an internal or external command,
operable program or batch file.

Defaulting to user installation because normal site-packages is not writeable

ERROR: Invalid requirement: '#'

In [57]:
# from img2table.document import PDF
# from img2table.ocr import TesseractOCR
# import os

# # Set environment variables for Tesseract
# os.environ['TESSDATA_PREFIX'] = r'‪C:\Program Files\Tesseract-OCR\tesseract.exe'
# tesseract_ocr = TesseractOCR(n_threads=1, lang="eng")

# # Load PDF and extract tables
# pdf_path = r"E:\text_ext\SBI_life.pdf"
# pdf = PDF(src=pdf_path)

# # Extract tables
# extracted_tables = pdf.extract_tables(
#     ocr=tesseract_ocr,
#     implicit_rows=False,
#     borderless_tables=False,
#     min_confidence=50
# )

# # Print extracted tables
# for idx, table in enumerate(extracted_tables):
#     print(f"Table {idx + 1}:")
#     print(table)

# # Export to Excel
# xlsx_path = "data/tables.xlsx"
# pdf.to_xlsx(
#     xlsx_path,
#     ocr=tesseract_ocr,
#     implicit_rows=False,
#     borderless_tables=False,
#     min_confidence=50
# )

# print(f"PDF successfully converted to Excel and saved at: {xlsx_path}")

In [8]:
# !pip install img2table==1.0.8

In [9]:
# !pip list

In [2]:
import pandas as pd
import re

# Sample extracted text from Tesseract (replace with your actual extracted text)
extracted_text = """
Date Transaction Type Amount (INR) NAV(INR) Price (INR) No. of Units Balance Units
12/06/2024 Redemption - ELECTRONIC-PAYMENT - 0- (16,493,169.61) 1.3073923 1.3073923 (12,615.318) 0.000
12/06/2024  Failed Redemption 13-JUN-2024 Balance not received
17/06/2024 Purchase - DIRECT 6,999,650.02 1.3085687 1.3085687 5,349.089 5,349.089
18/06/2024 Purchase - DIRECT 6,999,650.02 1.3088049 1.3088049 5,348.123 10,697.212
"""

# Split the text into lines
lines = extracted_text.strip().split('\n')

# Identify headers and data rows
headers = lines[0].split()
data_lines = lines[1:]

# Create a list to hold the processed rows
processed_rows = []

# Function to clean and align data rows
def clean_and_align_data(data_lines, headers):
    for line in data_lines:
        # Split the line into words
        words = re.split(r'\s{2,}|\t', line.strip())
        if len(words) == len(headers):
            processed_rows.append(words)
        elif len(words) > len(headers):
            # Merge words if necessary to match header length
            row = []
            for i in range(len(headers)):
                if i < len(words):
                    row.append(words[i])
                else:
                    row[-1] += ' ' + words[i]  # Merge with the previous entry
            processed_rows.append(row)
        else:
            # Handle case where there are fewer words than headers
            row = words + [''] * (len(headers) - len(words))
            processed_rows.append(row)

clean_and_align_data(data_lines, headers)

# Convert the processed rows to a DataFrame
df = pd.DataFrame(processed_rows, columns=headers)

# Print the DataFrame
df

,Date,Transaction,Type,Amount,(INR),NAV(INR),Price,(INR),No.,of,Units,Balance,Units
0,12/06/2024 Redemption - ELECTRONIC-PAYMENT - 0...,,,,,,,,,,,,
1,12/06/2024,Failed Redemption 13-JUN-2024 Balance not rece...,,,,,,,,,,,
2,"17/06/2024 Purchase - DIRECT 6,999,650.02 1.30...",,,,,,,,,,,,
3,"18/06/2024 Purchase - DIRECT 6,999,650.02 1.30...",,,,,,,,,,,,

In [3]:
# Function to handle complex rows
def handle_complex_rows(data_lines, headers):
    row_buffer = []
    for line in data_lines:
        # Split the line into words
        words = re.split(r'\s{2,}|\t', line.strip())
        if len(words) >= len(headers):
            if row_buffer:
                processed_rows.append(row_buffer)
                row_buffer = []
            processed_rows.append(words[:len(headers)])
            if len(words) > len(headers):
                row_buffer = words[len(headers):]
        else:
            row_buffer.extend(words)
    if row_buffer:
        processed_rows.append(row_buffer)

handle_complex_rows(data_lines, headers)
# Save the cleaned DataFrame to Excel
output_excel_path = r"E:\text_ext\op1/extracted_table.xlsx"
df.to_excel(output_excel_path, index=False)
print(f"Extracted table saved to {output_excel_path}")

In [5]:
# Save the cleaned DataFrame to Excel
output_excel_path = r"E:\text_ext\op1/extracted_table.xlsx"
df.to_excel(output_excel_path, index=False)
print(f"Extracted table saved to {output_excel_path}")

Extracted table saved to E:\text_ext\op1/extracted_table.xlsx

In [7]:
df

,Date,Transaction,Type,Amount,(INR),NAV(INR),Price,(INR),No.,of,Units,Balance,Units
0,12/06/2024 Redemption - ELECTRONIC-PAYMENT - 0...,,,,,,,,,,,,
1,12/06/2024,Failed Redemption 13-JUN-2024 Balance not rece...,,,,,,,,,,,
2,"17/06/2024 Purchase - DIRECT 6,999,650.02 1.30...",,,,,,,,,,,,
3,"18/06/2024 Purchase - DIRECT 6,999,650.02 1.30...",,,,,,,,,,,,

In [9]:
import pandas as pd
import re

# Sample extracted text from Tesseract (replace with your actual extracted text)
extracted_text = """
Date Transaction Type Amount (INR) NAV(INR) Price (INR) No. of Units Balance Units
12/06/2024 Redemption - ELECTRONIC-PAYMENT - 0- (16,493,169.61) 1.3073923 1.3073923 (12,615.318) 0.000
12/06/2024  Failed Redemption 13-JUN-2024 Balance not received
17/06/2024 Purchase - DIRECT 6,999,650.02 1.3085687 1.3085687 5,349.089 5,349.089
18/06/2024 Purchase - DIRECT 6,999,650.02 1.3088049 1.3088049 5,348.123 10,697.212
"""

# Split the text into lines
lines = extracted_text.strip().split('\n')

# Identify headers and data rows
headers = lines[0].split()
data_lines = lines[1:]

# Create a list to hold the processed rows
processed_rows = []

# Function to clean and align data rows
def clean_and_align_data(data_lines, headers):
    for line in data_lines:
        # Split the line into words
        words = re.split(r'\s{2,}|\t', line.strip())
        if len(words) == len(headers):
            processed_rows.append(words)
        elif len(words) > len(headers):
            # Merge words if necessary to match header length
            row = []
            for i in range(len(headers)):
                if i < len(words):
                    row.append(words[i])
                else:
                    row[-1] += ' ' + words[i]  # Merge with the previous entry
            processed_rows.append(row)
        else:
            # Handle case where there are fewer words than headers
            row = words + [''] * (len(headers) - len(words))
            processed_rows.append(row)

clean_and_align_data(data_lines, headers)

# Convert the processed rows to a DataFrame
df = pd.DataFrame(processed_rows, columns=headers)

# Print the DataFrame
df

,Date,Transaction,Type,Amount,(INR),NAV(INR),Price,(INR),No.,of,Units,Balance,Units
0,12/06/2024 Redemption - ELECTRONIC-PAYMENT - 0...,,,,,,,,,,,,
1,12/06/2024,Failed Redemption 13-JUN-2024 Balance not rece...,,,,,,,,,,,
2,"17/06/2024 Purchase - DIRECT 6,999,650.02 1.30...",,,,,,,,,,,,
3,"18/06/2024 Purchase - DIRECT 6,999,650.02 1.30...",,,,,,,,,,,,

In [ ]:

# from img2table.document import PDF
# from img2table.ocr import PaddleOcr

# Instantiation of the pdf
pdf = PDF(src="/content/SBI_life.pdf")

# Instantiation of the OCR, Tesseract, which requires prior installation
ocr = TesseractOCR(lang="eng")

# Table identification and extraction
pdf_tables = pdf.extract_tables(ocr=ocr)

# We can also create an excel file with the tables
pdf.to_xlsx('tables1.xlsx',
            ocr=ocr)

In [11]:
import pandas as pd
import re

# Sample extracted text from pytesseract
extracted_text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '18/06/2024', '363.0944', '363.0944', '358015.712', '129993500.32', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['Invalid Purchase 06-JUN-2024-ISIP Rejection-', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Define headers
headers = ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units']

# Create a list to hold the processed rows
processed_rows = []

# Function to clean and align data rows
def clean_and_align_data(extracted_text, headers):
    for entry in extracted_text:
        if isinstance(entry, list):
            # If the entry is a list and has length similar to headers, treat it as a row of data
            if len(entry) == len(headers):
                processed_rows.append(entry)
            else:
                # If entry length doesn't match headers, process it as extra information or continuation
                # Here we attempt to extract relevant data based on patterns
                # This is a simplified approach; real data might need more sophisticated handling
                row = [''] * len(headers)
                for idx, value in enumerate(entry):
                    if idx < len(headers):
                        row[idx] = value
                processed_rows.append(row)

clean_and_align_data(extracted_text, headers)

# Convert the processed rows to a DataFrame
df = pd.DataFrame(processed_rows, columns=headers)

# Print the DataFrame
df

,Transaction Type,Date,Amount (INR),NAV(INR),Price (INR),No.of Units,Balance Units
0,8096/INF109K01049/ICICI Prudential Liquid Fund...,,,,,,
1,Transaction Type,Date,Amount (INR),NAV(INR),Price (INR),No.of Units,Balance Units
2,Purchase -DIRECT,18/06/2024,363.0944,363.0944,358015.712,129993500.32,7486356.490
3,Gross Amount: Rs.130000000/-; Stamp Duty charg...,6499.68,,,,,
4,Invalid Purchase 06-JUN-2024-ISIP Rejection-,18/06/2024,Payment not received-,,,,
5,47497625.12,363.1644,363.1644,Purchase DIRECT,130788.219,19/06/2024,7617144.709
6,2374.88,Gross Amount: Rs.47500000/-; Stamp Duty charge...,,,,,
7,Units Under Lien: 0.000,Name Of Financier: Not Applicable,,,,,
8,Free units available TO REDEEMTSUT TCH-7617144...,,,,,,

In [15]:
import pandas as pd
import re

# Sample extracted text from pytesseract
extracted_text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '18/06/2024', '363.0944', '363.0944', '358015.712', '129993500.32', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['***Invalid Purchase 06-JUN-2024-ISIP Rejection-***', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Define headers
headers = ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units']

# Initialize list to hold the cleaned data
cleaned_data = []

# Function to clean and align data rows
def clean_and_align_data(extracted_text, headers):
    # Extract the main table data
    for entry in extracted_text:
        if isinstance(entry, list):
            # Process entries based on their length and content
            if len(entry) == len(headers):
                cleaned_data.append(entry)
            elif len(entry) > len(headers):
                # If the length is greater, try to split and clean
                row = [''] * len(headers)
                for i in range(len(headers)):
                    if i < len(entry):
                        row[i] = entry[i]
                cleaned_data.append(row)
            elif len(entry) < len(headers):
                # Handle cases where there are fewer fields
                row = entry + [''] * (len(headers) - len(entry))
                cleaned_data.append(row)

# Clean and align the data
clean_and_align_data(extracted_text, headers)

# Convert the cleaned data to a DataFrame
df = pd.DataFrame(cleaned_data, columns=headers)

# Print the DataFrame
df

,Transaction Type,Date,Amount (INR),NAV(INR),Price (INR),No.of Units,Balance Units
0,8096/INF109K01049/ICICI Prudential Liquid Fund...,,,,,,
1,Transaction Type,Date,Amount (INR),NAV(INR),Price (INR),No.of Units,Balance Units
2,Purchase -DIRECT,18/06/2024,363.0944,363.0944,358015.712,129993500.32,7486356.490
3,Gross Amount: Rs.130000000/-; Stamp Duty charg...,6499.68,,,,,
4,***Invalid Purchase 06-JUN-2024-ISIP Rejection...,18/06/2024,Payment not received-,,,,
5,47497625.12,363.1644,363.1644,Purchase DIRECT,130788.219,19/06/2024,7617144.709
6,2374.88,Gross Amount: Rs.47500000/-; Stamp Duty charge...,,,,,
7,Units Under Lien: 0.000,Name Of Financier: Not Applicable,,,,,
8,Free units available TO REDEEMTSUT TCH-7617144...,,,,,,

In [16]:
import pandas as pd
import re

# Sample extracted text from Tesseract
extracted_text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '18/06/2024', '363.0944', '363.0944', '358015.712', '129993500.32', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['***Invalid Purchase 06-JUN-2024-ISIP Rejection-***', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Define headers as in the original table
headers = ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units']

# Initialize a list to hold the processed rows
processed_rows = []

# Function to map extracted text to the original table format
def map_extracted_to_original(extracted_text, headers):
    for entry in extracted_text:
        # Skip entries that don't match the table format
        if isinstance(entry, list):
            if len(entry) >= len(headers):
                # Handle rows with sufficient length to match headers
                row = [''] * len(headers)
                for i in range(len(headers)):
                    if i < len(entry):
                        row[i] = entry[i]
                processed_rows.append(row)
            elif len(entry) > 1:
                # Handle special cases where data might be spread across multiple entries
                if 'Gross Amount' in entry[0] or 'Stamp Duty' in entry[0]:
                    # Extract gross amount and stamp duty from additional information
                    gross_amount_match = re.search(r'Rs\.([\d,]+)', entry[0])
                    stamp_duty_match = re.search(r'Stamp Duty charges Levied-([\d.]+)', entry[0])
                    if gross_amount_match:
                        processed_rows.append(['', '', gross_amount_match.group(1), '', '', '', ''])
                    if stamp_duty_match:
                        processed_rows.append(['', '', '', '', '', '', stamp_duty_match.group(1)])
                elif 'Units Under Lien' in entry[0] or 'Name Of Financier' in entry[0]:
                    # Skip additional information not directly mapping to headers
                    continue
                else:
                    # Handle cases where data is fragmented
                    row = [''] * len(headers)
                    for i in range(len(entry)):
                        if i < len(headers):
                            row[i] = entry[i]
                    processed_rows.append(row)

# Clean and map the extracted data
map_extracted_to_original(extracted_text, headers)

# Convert processed rows to DataFrame
df = pd.DataFrame(processed_rows, columns=headers)

# Print the DataFrame
print(df)

                                    Transaction Type  \
0                                   Transaction Type
1                                   Purchase -DIRECT
2
3  ***Invalid Purchase 06-JUN-2024-ISIP Rejection...
4                                        47497625.12
5                                            2374.88

                                                Date           Amount (INR)  \
0                                               Date           Amount (INR)
1                                         18/06/2024               363.0944
2                                                                 130000000
3                                         18/06/2024  Payment not received-
4                                           363.1644               363.1644
5  Gross Amount: Rs.47500000/-; Stamp Duty charge...

          NAV(INR)  Price (INR)   No.of Units  Balance Units
0         NAV(INR)  Price (INR)   No.of Units  Balance Units
1         363.0944   358015.712  129993500.32    7486356.490
2
3
4  Purchase DIRECT   130788.219    19/06/2024    7617144.709
5

In [18]:
import re
import pandas as pd

# Example text data
text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '363.0944.', '363.0944', '358015.712', '129993500.32', '18/06/2024', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['Invalid Purchase 06-JUN-2024-ISIP Rejection-', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Flatten and join text
flat_text = ' '.join([item for sublist in text for item in sublist])

# Define patterns to extract information
patterns = {
    'transaction_type': r'(Purchase -DIRECT|Purchase DIRECT|Redemption|Redemption DIRECT)',
    'date': r'\d{2}/\d{2}/\d{4}',
    'price': r'Price \(INR\):?\s*([\d,.]+)',
    'amount': r'Amount \(INR\):?\s*([\d,.]+)',
    'nav': r'NAV\(INR\):?\s*([\d,.]+)',
    'no_of_units': r'No\.of Units:?\s*([\d,.]+)'
}

# Extract data using regex
data = []
dates = re.findall(patterns['date'], flat_text)
transaction_types = re.findall(patterns['transaction_type'], flat_text)
prices = re.findall(patterns['price'], flat_text)
amounts = re.findall(patterns['amount'], flat_text)
navs = re.findall(patterns['nav'], flat_text)
no_of_units = re.findall(patterns['no_of_units'], flat_text)

# Determine the maximum number of entries for rows
max_len = max(len(dates), len(transaction_types), len(prices), len(amounts), len(navs), len(no_of_units))

# Fill missing values with empty strings to align lengths
dates += [''] * (max_len - len(dates))
transaction_types += [''] * (max_len - len(transaction_types))
prices += [''] * (max_len - len(prices))
amounts += [''] * (max_len - len(amounts))
navs += [''] * (max_len - len(navs))
no_of_units += [''] * (max_len - len(no_of_units))

# Create a list of dictionaries for each row
for i in range(max_len):
    data.append({
        'transaction_type': transaction_types[i],
        'date': dates[i],
        'price': prices[i],
        'amount': amounts[i],
        'nav': navs[i],
        'no_of_units': no_of_units[i]
    })

# Convert to DataFrame
df = pd.DataFrame(data)
print(df)

   transaction_type        date price amount nav no_of_units
0  Purchase -DIRECT  18/06/2024
1   Purchase DIRECT  18/06/2024
2                    19/06/2024

In [23]:
import re
import pandas as pd

# Example text data
text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '363.0944.', '363.0944', '358015.712', '129993500.32', '18/06/2024', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['Invalid Purchase 06-JUN-2024-ISIP Rejection-', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Flatten and join text
flat_text = ' '.join([item for sublist in text for item in sublist])

# Define patterns to extract information with specific digit requirements
patterns = {
    'transaction_type': r'(Purchase -DIRECT|Purchase DIRECT|Redemption|Redemption DIRECT)',
    'date': r'\d{2}/\d{2}/\d{4}',
    'price': r'(\d{3,4}\.\d+)',
    'amount': r'(\d{1,3}(?:,\d{3})*(?:\.\d{2})?)',
    'nav': r'(\d{3,4}\.\d+)',
    'no_of_units': r'(\d{1,3}(?:,\d{3})*(?:\.\d+)?)'
}

# Extract data using regex
extracted_data = {key: re.findall(pattern, flat_text) for key, pattern in patterns.items()}

# Print extracted data for debugging
print("Extracted Data:")
for key, value in extracted_data.items():
    print(f"{key}: {value}")

# Determine the maximum length of lists
max_len = max(len(v) for v in extracted_data.values())

# Fill missing values with empty strings
for key in extracted_data:
    extracted_data[key] += [''] * (max_len - len(extracted_data[key]))

# Create DataFrame from extracted data
df = pd.DataFrame(extracted_data)
print("\nDataFrame:")
df

Extracted Data:
transaction_type: ['Purchase -DIRECT', 'Purchase DIRECT']
date: ['18/06/2024', '18/06/2024', '19/06/2024']
price: ['363.0944', '363.0944', '8015.712', '3500.32', '6356.490', '6499.68', '7625.12', '363.1644', '363.1644', '0788.219', '7144.709', '2374.88']
amount: ['809', '6', '109', '010', '49', '363.09', '44', '363.09', '44', '358', '015.71', '2', '129', '993', '500.32', '18', '06', '202', '4', '748', '635', '6.49', '0', '130', '000', '000', '649', '9.68', '06', '202', '4', '18', '06', '202', '4', '474', '976', '25.12', '363.16', '44', '363.16', '44', '130', '788.21', '9', '19', '06', '202', '4', '761', '714', '4.70', '9', '237', '4.88', '475', '000', '00', '0.00', '0', '761', '714', '4', '700', '1']
nav: ['363.0944', '363.0944', '8015.712', '3500.32', '6356.490', '6499.68', '7625.12', '363.1644', '363.1644', '0788.219', '7144.709', '2374.88']
no_of_units: ['809', '6', '109', '010', '49', '363.0944', '363.0944', '358', '015.712', '129', '993', '500.32', '18', '06', '202', '4', '748', '635', '6.490', '130', '000', '000', '649', '9.68', '06', '202', '4', '18', '06', '202', '4', '474', '976', '25.12', '363.1644', '363.1644', '130', '788.219', '19', '06', '202', '4', '761', '714', '4.709', '237', '4.88', '475', '000', '00', '0.000', '761', '714', '4', '700', '1']

DataFrame:

    transaction_type        date     price amount       nav no_of_units
0   Purchase -DIRECT  18/06/2024  363.0944    809  363.0944         809
1    Purchase DIRECT  18/06/2024  363.0944      6  363.0944           6
2                     19/06/2024  8015.712    109  8015.712         109
3                                  3500.32    010   3500.32         010
4                                 6356.490     49  6356.490          49
..               ...         ...       ...    ...       ...         ...
60                                            761
61                                            714
62                                              4
63                                            700
64                                              1

[65 rows x 6 columns]

In [24]:
import re
import pandas as pd

# Example text data
text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '363.0944.', '363.0944', '358015.712', '129993500.32', '18/06/2024', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['Invalid Purchase 06-JUN-2024-ISIP Rejection-', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Flatten and join text
flat_text = ' '.join([item for sublist in text for item in sublist])

# Define patterns to extract NAV and Price with specific digit requirements
patterns = {
    'price': r'\b(\d{3,4}\.\d+)\b',
    'nav': r'\b(\d{3,4}\.\d+)\b'
}

# Extract NAV and Price data using regex
extracted_data = {key: re.findall(pattern, flat_text) for key, pattern in patterns.items()}

# Print extracted data for debugging
print("Extracted Data:")
for key, value in extracted_data.items():
    print(f"{key}: {value}")

# Determine the maximum length of lists
max_len = max(len(v) for v in extracted_data.values())

# Fill missing values with empty strings
for key in extracted_data:
    extracted_data[key] += [''] * (max_len - len(extracted_data[key]))

# Create DataFrame from extracted data
df = pd.DataFrame(extracted_data)
print("\nDataFrame:")
df

Extracted Data:
price: ['363.0944', '363.0944', '6499.68', '363.1644', '363.1644', '2374.88']
nav: ['363.0944', '363.0944', '6499.68', '363.1644', '363.1644', '2374.88']

DataFrame:

      price       nav
0  363.0944  363.0944
1  363.0944  363.0944
2   6499.68   6499.68
3  363.1644  363.1644
4  363.1644  363.1644
5   2374.88   2374.88

In [25]:
import re
import pandas as pd

# Example text data
text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '363.0944.', '363.0944', '358015.712', '129993500.32', '18/06/2024', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['Invalid Purchase 06-JUN-2024-ISIP Rejection-', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Flatten and join text
flat_text = ' '.join([item for sublist in text for item in sublist])

# Define patterns to extract NAV and Price with specific digit requirements
patterns = {
    'price': r'\b(\d{3,4}\.\d+)\b',
    'nav': r'\b(\d{3,4}\.\d+)\b'
}

# Extract NAV and Price data using regex
extracted_data = {key: list(set(re.findall(pattern, flat_text))) for key, pattern in patterns.items()}

# Print extracted data for debugging
print("Extracted Data:")
for key, value in extracted_data.items():
    print(f"{key}: {value}")

# Determine the maximum length of lists
max_len = max(len(v) for v in extracted_data.values())

# Fill missing values with empty strings
for key in extracted_data:
    extracted_data[key] += [''] * (max_len - len(extracted_data[key]))

# Create DataFrame from extracted data
df = pd.DataFrame(extracted_data)
print("\nDataFrame:")
print(df)

Extracted Data:
price: ['2374.88', '6499.68', '363.0944', '363.1644']
nav: ['2374.88', '6499.68', '363.0944', '363.1644']

DataFrame:
      price       nav
0   2374.88   2374.88
1   6499.68   6499.68
2  363.0944  363.0944
3  363.1644  363.1644

In [27]:
import re
import pandas as pd

# Example text data
text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '363.0944.', '363.0944', '358015.712', '129993500.32', '18/06/2024', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['Invalid Purchase 06-JUN-2024-ISIP Rejection-', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Flatten and join text
flat_text = ' '.join([item for sublist in text for item in sublist])

# Define pattern to extract levied charges, considering it can be anywhere in the line
pattern = r'([\d,.]+).*?Stamp Duty charges Levied|Stamp Duty charges Levied.*?([\d,.]+)'

# Extract levied charges using regex
matches = re.findall(pattern, flat_text)

# Process matches to combine results from both capturing groups
levied_charges = [match[0] if match[0] else match[1] for match in matches]

# Print extracted levied charges for debugging
print("Extracted Levied Charges:")
print(levied_charges)

# Create DataFrame from extracted data
df = pd.DataFrame({'Levied Charges': levied_charges})
print("\nDataFrame:")
print(df)

Extracted Levied Charges:
['8096', '6499.68']

DataFrame:
  Levied Charges
0           8096
1        6499.68

In [40]:
import re
import pandas as pd

# Example text data
text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '363.0944.', '363.0944', '358015.712', '129993500.32', '18/06/2024', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['Invalid Purchase 06-JUN-2024-ISIP Rejection-', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Flatten and join text
flat_text = ' '.join([item for sublist in text for item in sublist])

# Define pattern to extract levied charges dynamically
pattern = r'Stamp Duty charges Levied.*?([\d,.]+)'

# Extract levied charges using regex
matches = re.findall(pattern, flat_text)

# Print extracted levied charges for debugging
print("Extracted Levied Charges:")
print(matches)

# Create DataFrame from extracted data
df = pd.DataFrame({'Levied Charges': matches})
print("\nDataFrame:")
print(df)

Extracted Levied Charges:
['6499.68', '0.000']

DataFrame:
  Levied Charges
0        6499.68
1          0.000

In [43]:
import re
import pandas as pd

# Example text data
text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '363.0944.', '363.0944', '358015.712', '129993500.32', '18/06/2024', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['Invalid Purchase 06-JUN-2024-ISIP Rejection-', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Flatten and join text
flat_text = ' '.join([item for sublist in text for item in sublist])

# Define patterns to match levied charges
pattern_before = r'([\d,.]+)[\s]*;[\s]*Stamp Duty charges Levied'
pattern_after = r'Stamp Duty charges Levied[\s\S]*?([\d,.]+)'

# Extract levied charges using regex
matches_before = re.findall(pattern_before, flat_text)
matches_after = re.findall(pattern_after, flat_text)

# Combine results and handle special cases where amounts might be directly before the phrase
levied_charges = matches_before + matches_after

# Remove potential duplicates and extra spaces
levied_charges = list(set(charge.strip() for charge in levied_charges))

# Print extracted levied charges for debugging
print("Extracted Levied Charges:")
print(levied_charges)

# Create DataFrame from extracted data
df = pd.DataFrame({'Levied Charges': levied_charges})
print("\nDataFrame:")
print(df)

Extracted Levied Charges:
['0.000', '6499.68']

DataFrame:
  Levied Charges
0          0.000
1        6499.68

In [47]:
l = ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied']

for i in l:
    if isinstance(i,float):
        print(i)
#     print(i)

In [48]:
l = ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied']

for i in l:
    try:
        # Attempt to convert the string to a float
        float_value = float(i)
        print(f"{i} is a float with value: {float_value}")
    except ValueError:
        # If conversion fails, it means the item is not a float
        print(f"{i} is not a float")

2374.88 is a float with value: 2374.88
Gross Amount: Rs.47500000/-; Stamp Duty charges Levied is not a float

In [52]:
import re
import pandas as pd

# Example text data
text = [
    ['8096/INF109K01049/ICICI Prudential Liquid Fund-Direct Plan -Growth'],
    ['Transaction Type', 'Date', 'Amount (INR)', 'NAV(INR)', 'Price (INR)', 'No.of Units', 'Balance Units'],
    ['Purchase -DIRECT', '363.0944.', '363.0944', '358015.712', '129993500.32', '18/06/2024', '7486356.490'],
    ['Gross Amount: Rs.130000000/-; Stamp Duty charges Levied', '6499.68'],
    ['Invalid Purchase 06-JUN-2024-ISIP Rejection-', '18/06/2024', 'Payment not received-'],
    ['47497625.12', '363.1644', '363.1644', 'Purchase DIRECT', '130788.219', '19/06/2024', '7617144.709'],
    ['2374.88', 'Gross Amount: Rs.47500000/-; Stamp Duty charges Levied'],
    ['Units Under Lien: 0.000', 'Name Of Financier: Not Applicable'],
    ['Free units available TO REDEEMTSUT TCH-7617144 700 1']
]

# Initialize list to store levied charges
levied_charges = []

# Iterate through the text data
for sublist in text:
    for item in sublist:
        # Check for "Stamp Duty charges Levied" in the string
        if "Stamp Duty charges Levied" in item:
            # Extract all numeric values from the line with 3 or 4 digits after the decimal point
            matches = re.findall(r'\b\d+\.\d{3,4}\b', item)
            levied_charges.extend(matches)

# Print extracted levied charges for debugging
print("Extracted Levied Charges:")
print(levied_charges)

# Create DataFrame from extracted data
df = pd.DataFrame({'Levied Charges': levied_charges})
print("\nDataFrame:")
print(df)

Extracted Levied Charges:
[]

DataFrame:
Empty DataFrame
Columns: [Levied Charges]
Index: []